.app-header {
    background: linear-gradient(rgb(255, 191, 0), rgb(255, 216, 75));
    padding: 15px;

    button {
        margin-inline-end: 2vw;
        margin-inline-start: 2vw;
        color: black;
        border-color: black;

    }

    a.active button {
        font-weight: bold;
    }

    @media (max-width:400px) {
        padding: 7px;

        nav {
            max-width: 260px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
            margin: auto;
            button{
                padding:5px 20px;
                background: linear-gradient(rgba(255, 255, 255, 0.086), rgba(255, 255, 255, 0.17));
            }
        }
    }
}