.contact-preview {
    background-color: #e91e620b;
    background: linear-gradient(#f3da7f, #dcbf56);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    position: relative;
    height: 100px;
    text-align: start;

    a {
        text-decoration: none;
        color: black;
    }

    img {
        height: 80px;
        width: 80px;
        margin: auto;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        transform: translateX(15px);
    }

    .info {
        padding: 5px 30px 5px 10px;
        position: relative;
        z-index: 20;

        h2,
        h5 {
            margin: 0 0 5px;
        }
    }

    &:hover {
        background: linear-gradient(#ffde64, #ffd53b);
    }
}