.transfer-fund {
    background-color: rgb(23, 65, 100);
    background: linear-gradient(rgb(23, 65, 100), rgb(47, 47, 101));
    width: fit-content;
    padding: 5px 30px 20px;
    border-radius: 8px;
    margin: 0 auto 15px;

    form {
        gap: 15px;

        input {
            background-color: transparent; // rgba(255, 255, 255, 0.416);
            color: white;
            border: none;
            border-bottom: 1px solid white;
            // outline:none;

        }

        button {
            margin: 0;
            color: rgb(100, 238, 157);
            border-color: rgb(97, 239, 147);

        }
    }
}