.contact-page {
    padding: 0 30px;

    .contact-filter {
        margin-bottom: 20px;

        input {
            padding: 5px 10px;
            width:200px;
        }
    }
    button{
        margin-bottom: 25px;
    }


    .contact-list{
        height:calc(100vh - 270px);
        overflow-y: auto;
        margin-inline-end: -10px;
        padding-inline-end: 10px;
    }
}