.home-page {
    padding: 10px 20px;

    img {
        width: 95%;
        max-width: 360px;

        margin: 5px;

        @media (min-width:451px) {
            width: 50%;
            min-width: 400px;
            max-width: 490px;

        }
    }

    h1,
    h2,
    h3,
    p {
        margin: 0 0 10px;
    }

    p {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .circle{
            opacity: 0;
        }

        @media (min-width:700px) {
            flex-direction: row;
            gap: 10px;
            justify-content: center;
            margin-top: 0px;
            .circle{
                opacity:100%;
            }

        }
    }

    .moves-list {
        margin-top: 20px;
        width: 400px;

        .moves-container {
            grid-template-columns: 1fr;
        }

        .move-preview {
            padding-bottom: 0;

            * {
                margin-top: 0;
            }
        }
    }

}