.signup-page {
    padding-top: 18vh;
    img {
        max-height: 25vh;
    }
    label{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:10px;
        padding: 0 10px;
    }
}