* {
    box-sizing: border-box;
    // font-family: arial;
}

body {
    background-color: rgb(23, 23, 31);
    color: rgb(255, 255, 222);
}
.App{
    position: relative;
}

button {
    background-color: transparent;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
    transition: .2s;
    color: rgb(255, 255, 227);
    border-color: rgb(255, 253, 223);


    &:hover {
        // $clr: rgb(34, 35, 46);
        // color:$clr;
        // border-color:$clr;
        background-color: rgba(255, 255, 255, 0.25);
    }
}

input {
    padding: 5px 10px;
    // width:200px;
}


// SCROLLBAR
/* width */
::-webkit-scrollbar {
    // position: fixed;
    right: 0;
    width: 10px;

    /* Track */
    &-track {
        background: transparent;
    }

    /* Handle */
    &-thumb {
        background: linear-gradient( rgb(72, 74, 131),rgb(96, 98, 164),rgb(72, 74, 131));
    }

    /* Handle on hover */
    &-thumb:hover {
        // background: rgba(136, 136, 136, 0.5);
        // background: #555;
    }

}